<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Add Employee</div>
    </div>
  </div>

  <div class="row text-left justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-2">

        </div>
        <div class="card-content">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">First Name</label>
                      <input type="text" id="projectinput1" class="form-control" name="fname">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2">Last Name</label>
                      <input type="text" id="projectinput2" class="form-control" name="lname">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3">E-mail</label>
                      <input type="text" id="projectinput3" class="form-control" name="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Contact Number</label>
                      <input type="number" id="projectinput4" class="form-control" name="phone">
                    </div>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-file-text"></i> Department</h4>

                <div class="row justify-content-center">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label for="department">Department</label>
                      <select id="department" name="department" class="form-control">
                        <option value="none" selected="" disabled="">Interested in</option>
                        <option value="design">design</option>
                        <option value="development">development</option>
                        <option value="illustration">illustration</option>
                        <option value="branding">branding</option>
                        <option value="video">video</option>
                      </select>
                    </div>
                  </div>
                </div>


              </div>

              <div class="form-actions d-flex justify-content-center">
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="button" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->
