<!-- Basic form layout section start -->
<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Add Employee</div>
    </div>
  </div>

  <div class="row text-left justify-content-md-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header pb-2">

        </div>
        <div class="card-content">
          <div class="px-3">
            <form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit(employeeForm.value)">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">First Name</label>
                      <input type="text" id="projectinput1" class="form-control" formControlName="first_name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2">Last Name</label>
                      <input type="text" id="projectinput2" class="form-control" formControlName="last_name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dob">Date of Birth</label>
                      <input type="date" id="dob" class="form-control" formControlName="dob">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input type="text" id="address" class="form-control" formControlName="address">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3">E-mail</label>
                      <input type="text" id="projectinput3" class="form-control" formControlName="email">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Contact Number</label>
                      <input type="number" id="projectinput4" class="form-control" formControlName="phone">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" id="password" class="form-control" formControlName="password">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="confirm">Confirm Password</label>
                      <input type="password" id="confirm" class="form-control" formControlName="confirm">
                    </div>
                  </div>
                </div>

                <h4 class="form-section"><i class="ft-file-text"></i> Department</h4>

                <div class="row justify-content-center">
                  <div class="col-md-6 ">
                    <div class="form-group">
                      <label for="department">Department</label>
                      <select id="department" name="department" class="form-control">
                        <option value="" selected="" disabled="">Department</option>
                        <option value="design">design</option>
                        <option value="development">development</option>
                        <option value="illustration">illustration</option>
                        <option value="branding">branding</option>
                        <option value="video">video</option>
                      </select>
                    </div>
                  </div>
                </div>


              </div>

              <div class="form-actions d-flex justify-content-center">
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button>
<!--                <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-raised btn-raised btn-primary">-->
                <button type="submit" class="btn btn-raised btn-raised btn-primary">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic form layout section end -->
